* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    margin: 0;
    transition: background 0.2 linear;
}

body.dark {
    background: #232c35;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background: #000;
    border-radius: 5rem;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0.5rem;
    position: relative;
    height: 2.6rem;
    width: 5rem;

    transform: scale(1.5);
}

.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;

    height: 2.2rem;
    width: 2.2rem;

    transform: translate(0rem);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
    transform: translate(2.4rem);
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}
